.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.addressInput input {
  padding: 0.5rem;
  width: 60%;
  margin-right: 1rem;
}

.addressInput button {
  padding: 0.5rem 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
}

.winners {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
